<h1>Products List</h1>

<br>
<% @products.each do |product|%>
  <p>---------------------------------------------------------------------------------------------------------------------------------------------------</p>
  <img src="<%= product.image %>" alt="<%= product.image %>">
  <h4>Name:</h4><p> <%= product.name %></p>
  <h4>Description:</h4><p> <%= product.description %></p>
  <h4>Price:</h4><p> $<%= product.price %>.99</p>
<% end %>

<!-- Right align the attributes -->