<img src="<%= @product.image %>" alt="<%= @product.image %>">
<h5>Name:</h5><p> <%= @product.name %></p>
<h5>Description:</h5><p> <%= @product.description %></p>
<h5>Price:</h5><p> $<%= @product.price %>.99</p>